.politica-container {
    display: flex;
    width: 100%;
}

.imagen {
    width: 200px;
    height: 130px;
    margin-right: 20px;
    border: 1px solid black;
}

.texto {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.texto p {
    font-size: 18px;
}