.navbar {
    background-color: #6a00ff;
    height: 130px;
    padding: 0px 70px 0px 70px;
}

.titulo {
    color: white;
    font-size: 70px;
}

.navbar-brand {
    margin-top: -10px;
}

.links-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -75px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20px;
    padding: 30px 30px 25.3px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link_activo {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 30px 30px 25.3px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link h4 {
    margin: 0px;
}